.grid-element {
    cursor: pointer;
    padding: 3px;
}

.centered-img {
    display: block;
    margin: auto;
}

.grid-element:hover{
    background-color: whitesmoke;
}

.dark-image {
    filter: brightness(50%);
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome, Opera */
}
